name: pr-check

on:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Install node
        uses: actions/setup-node@65d868f8d4d85d7d4abb7de0875cde3fcc8798f5
        with:
          node-version: 24

      - name: Enable Corepack
        run: corepack enable

      - name: Install dependencies
        run: yes | npx npq install --immutable
        env:
          NPQ_PKG_MGR: yarn

      - name: Build library
        run: yarn build
        working-directory: ./packages/lib

      - name: Test library
        run: yarn test:coverage
        working-directory: ./packages/lib

      - name: Build docs
        run: yarn build
        working-directory: ./packages/docs
